Project5WebApp/Connected Services/MovieService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49392/Project5Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49392/Project5Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49392/Project5Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="lProjectService_sendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="lProjectService_sendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:message name="lProjectService_TheatreList_InputMessage">
    <wsdl:part name="parameters" element="tns:TheatreList" />
  </wsdl:message>
  <wsdl:message name="lProjectService_TheatreList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TheatreListResponse" />
  </wsdl:message>
  <wsdl:message name="lProjectService_GetShowTimings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowTimings" />
  </wsdl:message>
  <wsdl:message name="lProjectService_GetShowTimings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowTimingsResponse" />
  </wsdl:message>
  <wsdl:portType name="lProjectService">
    <wsdl:operation name="sendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/lProjectService/sendMail" message="tns:lProjectService_sendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/lProjectService/sendMailResponse" message="tns:lProjectService_sendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TheatreList">
      <wsdl:input wsaw:Action="http://tempuri.org/lProjectService/TheatreList" message="tns:lProjectService_TheatreList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/lProjectService/TheatreListResponse" message="tns:lProjectService_TheatreList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowTimings">
      <wsdl:input wsaw:Action="http://tempuri.org/lProjectService/GetShowTimings" message="tns:lProjectService_GetShowTimings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/lProjectService/GetShowTimingsResponse" message="tns:lProjectService_GetShowTimings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_lProjectService" type="tns:lProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://tempuri.org/lProjectService/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheatreList">
      <soap:operation soapAction="http://tempuri.org/lProjectService/TheatreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowTimings">
      <soap:operation soapAction="http://tempuri.org/lProjectService/GetShowTimings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_lProjectService" binding="tns:BasicHttpBinding_lProjectService">
      <soap:address location="http://localhost:49392/Project5Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>